# Générale du Solaire- Appel d'offre de la CRE

In [166]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn import ensemble
from sklearn.ensemble import RandomForestRegressor
from sklearn import neighbors
from sklearn import cross_validation
from sklearn.svm import SVR
df = pd.read_csv('Macouria_Estimation_GHI.csv',delimiter = ';')
df1 = pd.read_csv('data_2014-Macouria.csv',delimiter = ';')

In [190]:
import time
temp = pd.DatetimeIndex(df1['DT_local'])
df1['HOUR'] = temp.hour
df1['MONTH'] = temp.month
df1['DAY'] = temp.day
df1['MINUTE'] = temp.minute
df1['YEAR'] = temp.year
temp1 = pd.DatetimeIndex(df['Date_utc']) 
df['HOUR'] = temp1.hour
df['MONTH'] = temp1.month
df['DAY'] = temp1.day
df['MINUTE'] = temp1.minute
df['YEAR'] = temp1.year

In [191]:
df

,Date_utc,Estimation_GHI,Observation_GHI,HOUR,MONTH,DAY,MINUTE,YEAR
0,01/01/14 04:00,0,0,4,1,1,0,2014
1,01/01/14 04:10,0,0,4,1,1,10,2014
2,01/01/14 04:20,0,0,4,1,1,20,2014
3,01/01/14 04:30,0,0,4,1,1,30,2014
4,01/01/14 04:40,0,0,4,1,1,40,2014
5,01/01/14 04:50,0,0,4,1,1,50,2014
6,01/01/14 05:00,0,0,5,1,1,0,2014
7,01/01/14 05:10,0,0,5,1,1,10,2014
8,01/01/14 05:20,0,0,5,1,1,20,2014
9,01/01/14 05:30,0,0,5,1,1,30,2014
10,01/01/14 05:40,0,0,5,1,1,40,2014
11,01/01/14 05:50,0,0,5,1,1,50,2014
12,01/01/14 06:00,0,0,6,1,1,0,2014
13,01/01/14 06:10,0,0,6,1,1,10,2014
14,01/01/14 06:20,0,0,6,1,1,20,2014
15,01/01/14 06:30,0,0,6,1,1,30,2014
16,01/01/14 06:40,0,0,6,1,1,40,2014
17,01/01/14 06:50,0,0,6,1,1,50,2014
18,01/01/14 07:00,0,0,7,1,1,0,2014
19,01/01/14 07:10,0,0,7,1,1,10,2014
20,01/01/14 07:20,0,0,7,1,1,20,2014
21,01/01/14 07:30,0,0,7,1,1,30,2014
22,01/01/14 07:40,0,0,7,1,1,40,2014
23,01/01/14 07:50,0,0,7,1,1,50,2014
24,01/01/14 08:00,0,0,8,1,1,0,2014
25,01/01/14 08:10,0,0,8,1,1,10,2014
26,01/01/14 08:20,0,0,8,1,1,20,2014
27,01/01/14 08:30,0,0,8,1,1,30,2014
28,01/01/14 08:40,0,0,8,1,1,40,2014
29,01/01/14 08:50,0,0,8,1,1,50,2014
...,...,...,...,...,...,...,...,...
52506,31/12/14 19:00,114,503,19,12,31,0,2014
52507,31/12/14 19:10,189,466,19,12,31,10,2014
52508,31/12/14 19:20,264,428,19,12,31,20,2014
52509,31/12/14 19:30,339,390,19,12,31,30,2014
52510,31/12/14 19:40,310,353,19,12,31,40,2014
52511,31/12/14 19:50,280,316,19,12,31,50,2014
52512,31/12/14 20:00,251,278,20,12,31,0,2014
52513,31/12/14 20:10,208,262,20,12,31,10,2014
52514,31/12/14 20:20,166,246,20,12,31,20,2014
52515,31/12/14 20:30,123,230,20,12,31,30,2014
52516,31/12/14 20:40,96,215,20,12,31,40,2014
52517,31/12/14 20:50,68,199,20,12,31,50,2014
52518,31/12/14 21:00,41,183,21,12,31,0,2014
52519,31/12/14 21:10,27,166,21,12,31,10,2014
52520,31/12/14 21:20,14,150,21,12,31,20,2014
52521,31/12/14 21:30,0,133,21,12,31,30,2014
52522,31/12/14 21:40,0,116,21,12,31,40,2014
52523,31/12/14 21:50,0,0,21,12,31,50,2014
52524,31/12/14 22:00,0,0,22,12,31,0,2014
52525,31/12/14 22:10,0,0,22,12,31,10,2014
52526,31/12/14 22:20,0,0,22,12,31,20,2014
52527,31/12/14 22:30,0,0,22,12,31,30,2014
52528,31/12/14 22:40,0,0,22,12,31,40,2014
52529,31/12/14 22:50,0,0,22,12,31,50,2014
52530,31/12/14 23:00,0,0,23,12,31,0,2014
52531,31/12/14 23:10,0,0,23,12,31,10,2014
52532,31/12/14 23:20,0,0,23,12,31,20,2014
52533,31/12/14 23:30,0,0,23,12,31,30,2014
52534,31/12/14 23:40,0,0,23,12,31,40,2014
52535,31/12/14 23:50,0,0,23,12,31,50,2014

In [2]:
#Error estimation
df['Error'] = df['Observation_GHI']-df['Estimation_GHI']
df['AbsError'] = np.absolute(df['Observation_GHI']-df['Estimation_GHI'])

## Regression

In [33]:

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, df1['Prod'], test_size=0.1, random_state=0)

# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean square error
print("Residual sum of squares: %.2f", np.mean((regr.predict(X_test) - y_test) ** 2))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(X_test, y_test))

print np.mean(np.abs(y_test-regr.predict(X_test)))
print np.mean(y_test)
# Plot outputs
#plt.plot(np.abs(y_test-regr.predict(X_test)))
#plt.scatter(X_test,y_test)
#plt.plot(X_test,regr.predict(X_test))
plt.legend()


plt.show()

('Coefficients: \n', array([ 3964110.77735311,  -115522.23579096]))
('Residual sum of squares: %.2f', 16398793961.815348)
Variance score: 0.99
73541.2616365
955809.313546

In [27]:
from sklearn import linear_model

In [184]:
def rms(Y1,Y2):
    return np.sqrt(np.mean((Y1 - Y2)**2))
    
def randomforestcross(X,Y):
    X_train, X_1, y_train, y_1 = cross_validation.train_test_split(X, Y, test_size=0.4, random_state=0)
    X_cr, X_test, y_cr, y_test = cross_validation.train_test_split(X_1, y_1, test_size=0.5, random_state=0)
    RMS=np.zeros((100,2))
    
    for i in range(1,25):
        y_=randomforest(i,X_train,y_train,X_cr)
        r=rms(y_,y_cr)
        RMS[i,0]=i
        RMS[i,1]=r
    plt.scatter(RMS[:,0],RMS[:,1])
    plt.show()
    L = [X_train, y_train, X_test, y_test]
    return L 
def randomforest(n,X,Y,X_t):
    clf= RandomForestRegressor(n_estimators=n)
    clf.fit(X,Y)
    y_=clf.predict(X_t)
    return y_

def gradientcross(X,Y):
    X_train, X_1, y_train, y_1 = cross_validation.train_test_split(X, Y, test_size=0.4, random_state=0)
    X_cr, X_test, y_cr, y_test = cross_validation.train_test_split(X_1, y_1, test_size=0.5, random_state=0)
    RMS=np.zeros((250,2))
    
    for i in range(1,10):
        i = i * 10 + 100
        y_=gradient(i,X_train,y_train,X_cr)
        r=rms(y_,y_cr)
        RMS[i,0]=i
        RMS[i,1]=r
    plt.scatter(RMS[:,0],RMS[:,1])
    plt.show()
    L = [X_train, y_train, X_test, y_test]
    return L 
def gradient(n,X,Y,X_t):
    clf= ensemble.GradientBoostingRegressor(n_estimators=n)
    clf.fit(X,Y)
    y_=clf.predict(X_t)
    return y_

In [139]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
lb.fit([1, 2, 3, 4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19, 20, 21, 22, 23, 0])
LabelBinarizer(neg_label=0, pos_label=1)
lb.classes_
hours = lb.transform(df1['HOUR'])

In [151]:
lb.fit([1, 2, 3, 4,5,6,7,8,9,10,11,12])
LabelBinarizer(neg_label=0, pos_label=1)
lb.classes_
months = lb.transform(df1['MONTH'])

## Simple Random Forest

In [69]:
X = np.zeros((len(df1['GHI']),2))
Y = df1['Prod']
X[:,0] = (df1['GHI'])/np.max(df1['GHI'])
X[:,1] = (df1['T2'])/np.max(df1['T2'])

L = randomforestcross(X, Y)
n = 7

y_ = randomforest(n,L[0],L[1],L[2])
plt.plot(L[3])
plt.plot(y_)
plt.legend()
plt.show()
print np.mean(abs(y_-L[3]))
print np.mean(L[3])
print rms(y_,L[3])

#randomforestcross(X, df1['Prod'])
#np.shape([df1['GHI'],df1['T2']])

55102.7486584
957508.63984
119031.793791

## Advanced Random Forest

In [180]:
X = np.zeros((len(df1['GHI']),38))
Y = df1['Prod']
X[:,0] = (df1['GHI'])/np.max(df1['GHI'])
X[:,1] = (df1['T2'])/np.max(df1['T2'])
for i in range(2,38):
    if i<26:
        
        X[:,i]=hours[:,i-2]
    else:
        X[:,i]=months[:,i-26]
#L = randomforestcross(X, Y)
n = 10

y_ = randomforest(n,L[0],L[1],L[2])
plt.plot(np.abs(L[3]-y_))

plt.legend()
plt.show()
print np.mean(abs(y_-L[3]))
print np.mean(L[3])
print rms(y_,L[3])

28025.3804043
957508.63984
70071.5665717

## Gradient boosting

In [186]:
X = np.zeros((len(df1['GHI']),38))
Y = df1['Prod']
X[:,0] = (df1['GHI'])/np.max(df1['GHI'])
X[:,1] = (df1['T2'])/np.max(df1['T2'])
for i in range(2,38):
    if i<26:
        
        X[:,i]=hours[:,i-2]
    else:
        X[:,i]=months[:,i-26]
#L = gradientcross(X, Y)
n = 150

y_ = gradient(n,L[0],L[1],L[2])
plt.plot(np.abs(L[3]-y_))

plt.legend()
plt.show()
print np.mean(abs(y_-L[3]))
print np.mean(L[3])
print rms(y_,L[3])

35277.5317872
957508.63984
70836.5407734

In [160]:
L = np.zeros(100)
A = np.zeros(100)
error = np.abs(y_-L[3])
error_abs = error[error>0]
for i in range(1,101):
    A[i-1] = i
    p = np.percentile(error_abs, i)# return ith percentile
    L[i-1] = p
plt.plot(A,L)
plt.show()

In [161]:
df

,Date_utc,Estimation_GHI,Observation_GHI,T2,Estimation_Prod,Observation_Prod
0,01/01/14 04:00,0,0,23.7,0.000000,0.000000
1,01/01/14 04:10,0,0,23.6,0.000000,0.000000
2,01/01/14 04:20,0,0,23.6,0.000000,0.000000
3,01/01/14 04:30,0,0,23.6,0.000000,0.000000
4,01/01/14 04:40,0,0,23.5,0.000000,0.000000
5,01/01/14 04:50,0,0,23.5,0.000000,0.000000
6,01/01/14 05:00,0,0,23.5,0.000000,0.000000
7,01/01/14 05:10,0,0,23.5,0.000000,0.000000
8,01/01/14 05:20,0,0,23.4,0.000000,0.000000
9,01/01/14 05:30,0,0,23.4,0.000000,0.000000
10,01/01/14 05:40,0,0,23.6,0.000000,0.000000
11,01/01/14 05:50,0,0,23.7,0.000000,0.000000
12,01/01/14 06:00,0,0,23.9,0.000000,0.000000
13,01/01/14 06:10,0,0,23.8,0.000000,0.000000
14,01/01/14 06:20,0,0,23.6,0.000000,0.000000
15,01/01/14 06:30,0,0,23.5,0.000000,0.000000
16,01/01/14 06:40,0,0,23.7,0.000000,0.000000
17,01/01/14 06:50,0,0,23.8,0.000000,0.000000
18,01/01/14 07:00,0,0,24.0,0.000000,0.000000
19,01/01/14 07:10,0,0,23.9,0.000000,0.000000
20,01/01/14 07:20,0,0,23.8,0.000000,0.000000
21,01/01/14 07:30,0,0,23.7,0.000000,0.000000
22,01/01/14 07:40,0,0,23.6,0.000000,0.000000
23,01/01/14 07:50,0,0,23.6,0.000000,0.000000
24,01/01/14 08:00,0,0,23.5,0.000000,0.000000
25,01/01/14 08:10,0,0,23.5,0.000000,0.000000
26,01/01/14 08:20,0,0,23.4,0.000000,0.000000
27,01/01/14 08:30,0,0,23.4,0.000000,0.000000
28,01/01/14 08:40,0,0,23.4,0.000000,0.000000
29,01/01/14 08:50,0,0,23.3,0.000000,0.000000
...,...,...,...,...,...,...
52506,31/12/14 19:00,114,503,26.5,1928339.000000,417290.428571
52507,31/12/14 19:10,189,466,26.7,1919159.857143,697560.387755
52508,31/12/14 19:20,264,428,26.9,1739132.714286,1178404.190476
52509,31/12/14 19:30,339,390,27.1,1573371.571429,1186002.952381
52510,31/12/14 19:40,310,353,27.0,1189660.000000,1156412.142857
52511,31/12/14 19:50,280,316,26.9,1114507.285714,977352.571429
52512,31/12/14 20:00,251,278,26.8,1110253.357143,968916.854762
52513,31/12/14 20:10,208,262,26.7,1000471.571429,719244.142857
52514,31/12/14 20:20,166,246,26.6,844476.142857,603380.678571
52515,31/12/14 20:30,123,230,26.5,938279.238095,409873.114286
52516,31/12/14 20:40,96,215,26.3,832937.476190,313139.400000
52517,31/12/14 20:50,68,199,26.2,699082.642857,243443.428571
52518,31/12/14 21:00,41,183,26.1,682427.919048,118134.142857
52519,31/12/14 21:10,27,166,25.8,627840.333333,70959.857143
52520,31/12/14 21:20,14,150,25.5,698165.285714,29866.571429
52521,31/12/14 21:30,0,133,25.2,702589.857143,0.000000
52522,31/12/14 21:40,0,116,25.0,516808.342857,0.000000
52523,31/12/14 21:50,0,0,24.9,0.000000,0.000000
52524,31/12/14 22:00,0,0,24.7,0.000000,0.000000
52525,31/12/14 22:10,0,0,24.6,0.000000,0.000000
52526,31/12/14 22:20,0,0,24.5,0.000000,0.000000
52527,31/12/14 22:30,0,0,24.4,0.000000,0.000000
52528,31/12/14 22:40,0,0,24.6,0.000000,0.000000
52529,31/12/14 22:50,0,0,24.7,0.000000,0.000000
52530,31/12/14 23:00,0,0,24.8,0.000000,0.000000
52531,31/12/14 23:10,0,0,24.8,0.000000,0.000000
52532,31/12/14 23:20,0,0,24.7,0.000000,0.000000
52533,31/12/14 23:30,0,0,24.6,0.000000,0.000000
52534,31/12/14 23:40,0,0,24.6,0.000000,0.000000
52535,31/12/14 23:50,0,0,24.6,0.000000,0.000000

In [192]:
s = df1['T2'][df1.YEAR==2014]
Temp = []
for i in range(24,len(s)+24):
    Temp.append(s[i])
df['T2'] =  Temp  

lb = preprocessing.LabelBinarizer()
lb.fit([1, 2, 3, 4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19, 20, 21, 22, 23, 0])
LabelBinarizer(neg_label=0, pos_label=1)
lb.classes_
hours1 = lb.transform(df['HOUR'])

In [239]:
c = df['Observation_GHI'][6:]
corr = []
for i in range(len(c)+6):

    if i>5:
        corr.append(c[i])
for i in range(6):
    
    corr.append(df['Observation_GHI'][:6][i])

df['Observation_GHI_corr'] = corr

In [234]:
df

,Date_utc,Estimation_GHI,Observation_GHI,HOUR,MONTH,DAY,MINUTE,YEAR,T2,Estimation_Prod,Observation_Prod,Observation_GHI_corr
0,01/01/14 04:00,0,0,4,1,1,0,2014,23.7,0.000000,0.000000,0
1,01/01/14 04:10,0,0,4,1,1,10,2014,23.6,0.000000,0.000000,0
2,01/01/14 04:20,0,0,4,1,1,20,2014,23.6,0.000000,0.000000,0
3,01/01/14 04:30,0,0,4,1,1,30,2014,23.6,0.000000,0.000000,0
4,01/01/14 04:40,0,0,4,1,1,40,2014,23.5,0.000000,0.000000,0
5,01/01/14 04:50,0,0,4,1,1,50,2014,23.5,0.000000,0.000000,0
6,01/01/14 05:00,0,0,5,1,1,0,2014,23.5,0.000000,0.000000,0
7,01/01/14 05:10,0,0,5,1,1,10,2014,23.5,0.000000,0.000000,0
8,01/01/14 05:20,0,0,5,1,1,20,2014,23.4,0.000000,0.000000,0
9,01/01/14 05:30,0,0,5,1,1,30,2014,23.4,0.000000,0.000000,0
10,01/01/14 05:40,0,0,5,1,1,40,2014,23.6,0.000000,0.000000,0
11,01/01/14 05:50,0,0,5,1,1,50,2014,23.7,0.000000,0.000000,0
12,01/01/14 06:00,0,0,6,1,1,0,2014,23.9,0.000000,0.000000,0
13,01/01/14 06:10,0,0,6,1,1,10,2014,23.8,0.000000,0.000000,0
14,01/01/14 06:20,0,0,6,1,1,20,2014,23.6,0.000000,0.000000,0
15,01/01/14 06:30,0,0,6,1,1,30,2014,23.5,0.000000,0.000000,0
16,01/01/14 06:40,0,0,6,1,1,40,2014,23.7,0.000000,0.000000,0
17,01/01/14 06:50,0,0,6,1,1,50,2014,23.8,0.000000,0.000000,0
18,01/01/14 07:00,0,0,7,1,1,0,2014,24.0,0.000000,0.000000,0
19,01/01/14 07:10,0,0,7,1,1,10,2014,23.9,0.000000,0.000000,0
20,01/01/14 07:20,0,0,7,1,1,20,2014,23.8,0.000000,0.000000,0
21,01/01/14 07:30,0,0,7,1,1,30,2014,23.7,0.000000,0.000000,0
22,01/01/14 07:40,0,0,7,1,1,40,2014,23.6,0.000000,0.000000,0
23,01/01/14 07:50,0,0,7,1,1,50,2014,23.6,0.000000,0.000000,0
24,01/01/14 08:00,0,0,8,1,1,0,2014,23.5,0.000000,0.000000,0
25,01/01/14 08:10,0,0,8,1,1,10,2014,23.5,0.000000,0.000000,0
26,01/01/14 08:20,0,0,8,1,1,20,2014,23.4,0.000000,0.000000,0
27,01/01/14 08:30,0,0,8,1,1,30,2014,23.4,0.000000,0.000000,0
28,01/01/14 08:40,0,0,8,1,1,40,2014,23.4,0.000000,0.000000,0
29,01/01/14 08:50,0,0,8,1,1,50,2014,23.3,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
52506,31/12/14 19:00,114,503,19,12,31,0,2014,26.5,388926.733333,1851537.133333,278
52507,31/12/14 19:10,189,466,19,12,31,10,2014,26.7,667653.600000,1751762.526667,262
52508,31/12/14 19:20,264,428,19,12,31,20,2014,26.9,949078.153333,1578925.253333,246
52509,31/12/14 19:30,339,390,19,12,31,30,2014,27.1,1269663.353333,1434824.140000,230
52510,31/12/14 19:40,310,353,19,12,31,40,2014,27.0,1153679.560000,1250281.973333,215
52511,31/12/14 19:50,280,316,19,12,31,50,2014,26.9,1033126.980000,1189996.773333,199
52512,31/12/14 20:00,251,278,20,12,31,0,2014,26.8,869619.593333,999950.033333,183
52513,31/12/14 20:10,208,262,20,12,31,10,2014,26.7,738364.493333,939828.880000,166
52514,31/12/14 20:20,166,246,20,12,31,20,2014,26.6,586227.420000,896126.246667,150
52515,31/12/14 20:30,123,230,20,12,31,30,2014,26.5,416608.506667,873377.120000,133
52516,31/12/14 20:40,96,215,20,12,31,40,2014,26.3,337280.573333,780589.693333,116
52517,31/12/14 20:50,68,199,20,12,31,50,2014,26.2,233251.206667,725964.340000,0
52518,31/12/14 21:00,41,183,21,12,31,0,2014,26.1,118066.886667,682250.946667,0
52519,31/12/14 21:10,27,166,21,12,31,10,2014,25.8,103162.706667,604785.793333,0
52520,31/12/14 21:20,14,150,21,12,31,20,2014,25.5,30666.997778,554487.428889,0
52521,31/12/14 21:30,0,133,21,12,31,30,2014,25.2,0.000000,477445.500000,0
52522,31/12/14 21:40,0,116,21,12,31,40,2014,25.0,0.000000,430029.826667,0
52523,31/12/14 21:50,0,0,21,12,31,50,2014,24.9,0.000000,0.000000,0
52524,31/12/14 22:00,0,0,22,12,31,0,2014,24.7,0.000000,0.000000,0
52525,31/12/14 22:10,0,0,22,12,31,10,2014,24.6,0.000000,0.000000,0
52526,31/12/14 22:20,0,0,22,12,31,20,2014,24.5,0.000000,0.000000,0
52527,31/12/14 22:30,0,0,22,12,31,30,2014,24.4,0.000000,0.000000,0
52528,31/12/14 22:40,0,0,22,12,31,40,2014,24.6,0.000000,0.000000,0
52529,31/12/14 22:50,0,0,22,12,31,50,2014,24.7,0.000000,0.000000,0
52530,31/12/14 23:00,0,0,23,12,31,0,2014,24.8,0.000000,0.000000,0 0 1 0 2 0 3 0 4 0 5 0 Name...
52531,31/12/14 23:10,0,0,23,12,31,10,2014,24.8,0.000000,0.000000,0 0 1 0 2 0 3 0 4 0 5 0 Name...
52532,31/12/14 23:20,0,0,23,12,31,20,2014,24.7,0.000000,0.000000,0 0 1 0 2 0 3 0 4 0 5 0 Name...
52533,31/12/14 23:30,0,0,23,12,31,30,2014,24.6,0.000000,0.000000,0 0 1 0 2 0 3 0 4 0 5 0 Name...
52534,31/12/14 23:40,0,0,23,12,31,40,2014,24.6,0.000000,0.000000,0 0 1 0 2 0 3 0 4 0 5 0 Name...
52535,31/12/14 23:50,0,0,23,12,31,50,2014,24.6,0.000000,0.000000,0 0 1 0 2 0 3 0 4 0 5 0 Name...

In [193]:
lb.fit([1, 2, 3, 4,5,6,7,8,9,10,11,12])
LabelBinarizer(neg_label=0, pos_label=1)
lb.classes_
months1 = lb.transform(df['MONTH'])

In [240]:
X_obs = np.zeros((len(df['Estimation_GHI']),38))
X_obs[:,0] = (df['Observation_GHI'])/np.max(df1['GHI'])
X_obs[:,1] = (df['T2'])/np.max(df1['T2']) 
for i in range(2,38):
    if i<26:
        
        X_obs[:,i]=hours1[:,i-2]
    else:
        X_obs[:,i]=months1[:,i-26]
        
X_est = np.zeros((len(df['Observation_GHI']),38))
X_est[:,0] = (df['Estimation_GHI'])/np.max(df1['GHI'])
X_est[:,1] = (df['T2'])/np.max(df1['T2']) 
for i in range(2,38):
    if i<26:
        
        X_est[:,i]=hours1[:,i-2]
    else:
        X_est[:,i]=months1[:,i-26]
        


X_obs_corr = np.zeros((len(df['Estimation_GHI']),38))
X_obs_corr[:,0] = (df['Observation_GHI_corr'])/np.max(df1['GHI'])
X_obs_corr[:,1] = (df['T2'])/np.max(df1['T2']) 
for i in range(2,38):
    if i<26:
        
        X_obs_corr[:,i]=hours1[:,i-2]
    else:
        X_obs_corr[:,i]=months1[:,i-26]

L = randomforestcross(X, Y)
y_obs = randomforest(n,L[0],L[1],X_obs)
y_est = randomforest(n,L[0],L[1],X_est)
y_obs_corr = randomforest(n,L[0],L[1],X_obs_corr)

df['Estimation_Prod'] = y_est
df['Observation_Prod'] = y_obs
df['Observation_Prod_corr'] = y_obs_corr

In [244]:
import csv
def csv_file(y):
        prediction=open('Production_eLum.csv','w')
        prediction.write('Date_utc' + ';' + 'Estimation_GHI' + ';' + 'Observation_GHI' +';' + 'T2' + ';' + 'Estimation_Prod' + ';' + 'Observation_Prod' + ';' + 'Observation_Prod_corr' +'\n')
        for i in range(len(y)):
           
            prediction.write(str(df['Date_utc'][i]) + ';' + str(df['Estimation_GHI'][i]) + ';' + str(df['Observation_GHI'][i]) + ';' + str(df['T2'][i]) + ';' + str(df['Estimation_Prod'][i])  + ';' + str(df['Observation_Prod'][i]) + ';' + str(df['Observation_Prod_corr'][i]) + '\n')
            if i == len(y)-1:
                print 'The File is ready'

In [245]:
csv_file(df)

The File is ready

In [247]:
df['Error'] = df['Estimation_Prod'] - df['Observation_Prod_corr']
df['AbsError'] = abs(df['Estimation_Prod'] - df['Observation_Prod_corr'])

## Plot the datas

In [246]:
df['Estimation_Prod'].plot()
df['Observation_Prod_corr'].plot()
plt.legend()
plt.show()

In [248]:
df['Error'].plot()
plt.legend()
plt.show()

In [249]:
df['AbsError'].plot()
plt.legend()
plt.show()

## Calculations

In [250]:
mean = np.mean(df['Error'])
absmean = np.mean(df['AbsError'])
print 'mean : '+ str(mean)
print 'absolute mean : ' + str(absmean)

mean : 210207.041508
absolute mean : 321960.746503

In [251]:
Per = np.zeros(100)
A = np.zeros(100)
for i in range(1,101):
    A[i-1] = i
    p = np.percentile(df['AbsError'][df['AbsError']>0], i)# return ith percentile
    Per[i-1] = p
print Per

[    4178.25577778    10209.92846667    16414.60553228    23050.53333333
    29432.695         35279.98916667    41199.77555556    44820.1255873
    47879.44666667    52173.82405556    58365.83266667    65692.41955556
    72916.975         80730.9956        88283.21722222    96283.524
   103362.05293333   111218.28550476   118596.48875      126346.21333333
   133528.8868246    141369.81466667   149040.21841667   158074.572
   166901.03166667   175133.73266667   184192.71466667   194693.64933333
   204718.96901667   214558.60266667   225326.4557       236056.30991111
   246860.9305       257085.282        267628.15055556   278492.604
   290122.39616667   301454.94133333   312854.03         323002.94
   333278.42766667   346388.94077778   359207.435        371485.99066667
   384398.59542857   396600.61933333   410525.538        423475.14133333
   437050.47133333   452028.37066667   466614.83455556   483924.216
   500243.84122222   517872.5278       535113.52         554270.40933333
   571448.27566667   591370.38033333   608078.082        626836.92
   647597.28033333   669214.78690476   688503.90066667   710867.03866667
   730101.47638889   750545.37686667   773505.73022222   795186.77644444
   817873.53966667   841075.65         862764.132        888850.02666667
   913183.10633333   940031.15533333   968742.44833333   997009.16177778
  1024865.20875     1055504.81844444  1084667.44955556  1120298.21333333
  1155907.5675      1191538.87466667  1228303.20896667  1265950.36008889
  1306982.24527778  1349058.55217778  1394789.84633333  1440200.71066667
  1498163.836       1568151.59166667  1633600.99716667  1698867.66266667
  1778768.03041667  1867539.06133333  1969008.77833333  2077519.99288889
  2182933.40616667  2338103.17458889  2551659.626925    3362949.98633333]

In [252]:
plt.plot(A,Per)
plt.show()